*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	--canvas-size: 960px;

	padding: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.canvas-lord {
	width: 100%;
	padding: 5px;
	border: 3px solid #ddd;
	max-width: calc(var(--canvas-size) + 16px);
	margin: 0 auto;
	background: black;
	canvas {
		padding: 0;
		border: 0;
		width: var(--canvas-size);
	}
	&:focus-within {
		border-color: #bbf;
	}
}

.canvas-lord:has(.inspector) {
	display: grid;
	width: 100%;
}

.inspector {
	text-align: right;
	display: grid;
	grid-template-columns: 20ch auto;
	width: 100%;
	margin: 0 auto;
	gap: 2px 0.5rem;
	padding: 0.5rem;
	border: 3px solid #ddd;
	border-top: 0;
	> * {
		grid-column: 1 / -1;
	}
	.input {
		display: grid;
		grid-template-columns: subgrid;
		> :first-child {
			padding-right: 0.5rem;
			border-right: 1px solid white;
		}
	}
}

#cabinet {
	--inset: 40px;
	--cabinet-color: #67aac9;
	--header-color: #2c7596;

	background-color: var(--cabinet-color);
	width: calc(var(--canvas-size) + 160px);
	max-width: 98%;

	transition: background-color 0.3s;

	&:has(.canvas-lord:focus-within) {
		--cabinet-color: #67aac955;
		--header-color: #2c759644;

		header img {
			filter: drop-shadow(0 0 8px #ffffffaa)
				drop-shadow(0 0 8px #ffffffaa);
		}
	}

	header {
		background: var(--header-color);

		transition: background-color 0.3s;
		padding: 1.5rem;
		img {
			display: block;
			margin: 0 auto;
			filter: drop-shadow(0 0 0px transparent)
				drop-shadow(0 0 0px transparent);

			transition: filter 0.3s;
		}
	}
	main {
		position: relative;
		background: rgba(0, 0, 0, 0.2);
		padding-block: 2rem;
		padding-inline: calc(2rem + var(--inset));
	}
	footer {
		height: 200px;
		background: linear-gradient(to bottom, transparent, Canvas);
	}
}

#top,
#bottom {
	position: relative;
	width: 100%;
	height: var(--inset);
}

#top::before,
#top::after,
#bottom::before,
#bottom::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: var(--inset);
	aspect-ratio: 1;
	background: Canvas;
}

#top {
	background: rgba(0, 0, 0, 0.5);
}

#top::before {
	left: 0;
	clip-path: polygon(0 0, 100% 100%, 0 100%);
}
#top::after {
	right: 0;
	clip-path: polygon(100% 0, 100% 100%, 0 100%);
}

#bottom {
	background: rgba(255, 255, 255, 0.2);
}

#bottom::before {
	left: 0;
	clip-path: polygon(0 100%, 100% 0, 0 0);
}
#bottom::after {
	right: 0;
	clip-path: polygon(100% 100%, 100% 0, 0 0);
}

main::before,
main::after {
	content: ' ';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: var(--inset);
	background: Canvas;
}

main::before {
	left: 0;
}

main::after {
	right: 0;
}

canvas {
	background: black;
	display: block;
	border: 3px solid #ddd;
	width: calc(var(--canvas-size) + 16px);
	max-width: 100%;
	margin: 0 auto;
	image-rendering: -moz-crisp-edges;
	image-rendering: -webkit-crisp-edges;
	image-rendering: pixelated;
	image-rendering: crisp-edges;
}
